<div class="{{project.hl_slide_class}}">
<div class="slide-wrap active" data-slide="{{i}}"></div>
<div class="slide-events">
<div class="slide-inner">
<div class="slide-moving">
<div class="trigger-item" data-centerLine="OPEN">
<a class="slide-link" data-type="page-transition" href="portfolio-{{project.slug}}.html"></a>
</div>
<div class="slide-caption">
<div class="slide-title"><span>{{project.title}}</span></div>
<div class="slide-cat"><span>{{project.category}}</span></div>
</div>
</div>
</div>
</div>
</div>
