<div class="clapat-slide">
<div class="slide-effects">
<div class="slide-inner-height" data-centerLine="VIEW">
<div class="slide-moving">
<div class="{{project.pg_trigger_class}}" data-centerLine="OPEN" data-projectbgcolor="{{project.projectbgcolor}}">
<div class="img-mask">
<a class="slide-link" data-type="page-transition" href="portfolio-{{project.slug}}.html"></a>
<div class="section-image trigger-item-link">
<img src="{{project.hero}}" class="item-image grid__item-img" alt="">{{project.video_block}}
</div>
<img src="{{project.hero}}" class="grid__item-img grid__item-img--large" alt="">
</div>
</div>
</div>
</div>
<div class="slide-caption">
<div class="slide-date"><span>{{project.year}}</span></div>
<div class="slide-title"><span>{{project.title}}</span></div>
<div class="slide-cat"><span>{{project.category}}</span></div>
</div>
<div class="slide-thumb speed-50">
<img src="{{project.thumb}}" alt="">
</div>
</div>
</div>
