<div class="clapat-sync-slide">
<div class="trigger-item" data-centerLine="OPEN" data-projectbgcolor="#4b4d4f" data-projectcolor="#9c505f">
<div class="hover-reveal landscape1">
<div class="hover-reveal__inner">
<div class="hover-reveal__img">
<img src="{{project.hero}}" class="item-image grid__item-img" alt="">
<img class="grid__item-img grid__item-img--large" src="{{project.hero}}" alt="" />
</div>
</div>
</div>
<a class="slide-link" data-type="page-transition" href="portfolio-{{project.slug}}.html"></a>
<div class="slide-title trigger-item-link modify-color"><span>{{project.title}}</span></div>
</div>
</div>
