<div class="clapat-item {{project.category_class}} ">
<div class="{{project.slide_inner_class}}" data-centerLine="OPEN">
<div class="img-mask pixels-cover">
<a class="slide-link" data-type="page-transition" href="portfolio-{{project.slug}}.html"></a>
<div class="section-image trigger-item-link">
<img src="{{project.hero}}" class="item-image grid__item-img" alt="">{{project.video_block}}
</div>
<img src="{{project.hero}}" class="grid__item-img grid__item-img--large" alt="">
<div class="section-thumb">
<img src="{{project.thumb}}" alt="">
</div>
</div>
<div class="slide-caption trigger-item-link-secondary">
<div class="slide-title"><span>{{project.title}}</span></div>
<div class="slide-date"><span>{{project.year}}</span></div>
<div class="slide-cat"><span>{{project.category}}</span></div>
</div>
</div>
</div>
